
body {
    background-color: #22232a;
    color: white;
}
h1 {
    font-weight: 900;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.link {
    transition: all 0.2s;
}

.link:hover {
    opacity: 0.6;
    color: white;
}
#github {
    padding: 1em;
    width: 60px;
    transition: ease-in-out all 0.2s;
}

#project-wrapper {
    margin-bottom: 3em;
}
#github:hover {scale: 1.1;}

#hero-title {
    font-weight: 900;
    margin-top: 3vh;
    font-size: 350%;
}

#hero-body {
    font-weight: 700;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
}

.project-title {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-weight: 700;
    font-size: x-large;
}

.project-description {
    line-height:1.5em;
    margin-bottom: 1.5em;
}

.project:first-of-type {margin-top: 2em;}

@media (min-width: 1200px) {
    .container {
        max-width: 75%;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .project {
        margin-bottom: 1em;
        padding-right: 1em;
    }

    #project-wrapper {
        border-right: 1px solid grey;
        margin-bottom: 0em;

    }

    #language-frameworks {
        padding-left: 1em;
    }
    
    .hero-body {
        margin: 0.5em 0em;
        padding-bottom: 1em;
    }

    h5 {
        padding-bottom: 0.75em;
    }
    
}

#add-to-bottom {
    margin-bottom: 2em;
}

.title-info {
    text-transform: uppercase;
    font-size:medium;
}


h5 {
    font-weight:600;
    font-size: medium;
    padding-top: 1em;
}

h6 {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 0.2em;
}


.space-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 0;
    color: white;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    color: white;
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }

  #contact-info {
      display: flex;
      flex-direction: column;
  }

  footer {
    padding-top: 1em;
    border-top: 1px solid gray;
  }

  .gradient {
    background-image: linear-gradient(45deg, #c9def4, #f5ccd4, #b8a4c9);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
